@import url('https://fonts.googleapis.com/css2?family=Ledger&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*:focus {
  outline: none;
}
:root {
  --whiteBlue: #EDF2FB;
  --blueGradient1: #CCDBFD;
  --blueGradient2: #E2EAFC;
  --blueBorderShadow: #ABC4FF;
  --darkBlueFocus: #606fc3;
  
}
/*body*/
body {
  margin: 0;
  background-color: var(--whiteBlue);
  width: 100%;
  display: flex;
  font-family: "Ledger", serif;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.error {
  position: absolute;
  bottom: -20px;
  left: 0px;
  display: none;
  color: red;
}
.show {
  display: block;
}
.showInput {
  border-color: red;
}
a {
  text-decoration: none;
  color: black;
  transition: .25s;
}

a:hover {
  color: var(--darkBlueFocus);
}

/*login*/
.loginForm{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.loginForm button{
  width: 300px;
  padding: 18px 0px;
}
input {
  padding: 20px 0px 20px 13px;
  width: 300px;
  border-radius: 10px;
  background-color: var(--whiteBlue);
  border: var(--blueBorderShadow) solid 2px;
}
.inputCont {
  margin-bottom: 20px;
}
.inputCont:last-child {
  margin-bottom: 0px
}
.textCont {
  margin: 10px 0px 40px 0px;
  font-weight: 700;
}
.loginForm .inputCont {
  position:relative;
}
.loginForm label{
  position: absolute;
  left: 10px;
  font-size: 16px;
  font-weight: 700;
  padding: 0px 3px;
  background-color: var(--whiteBlue);
  transition: .25s;
}
.offImg {
  display: none;
}
.imgCont img {
  width: 18px;
}
.loginForm .imgCont {
  position: absolute;
  right: 10px;
  top: 37%;
}
.inputCont input:focus {
  border-color: var(--darkBlueFocus); 
  
}
.unactive {
  top: 18px;
}

.inputCont input:active, input:focus + label {
  top: -9px;
}
.active {
  top: -9px;
}
.doctor {
  text-align: center;
  width: 400px;
  margin: 0 auto;
}
.patient {
    text-align: center;
    margin-top: 30px;

}

button {
    background-color: #fff;
    color: #000000;
    animation: moveInBottom 0.7s ease-out;
    animation-fill-mode: backwards;
    cursor: pointer;
    border-radius: 25px;
    background: linear-gradient(to right, var(--blueGradient1), var(--blueGradient2));
    border: solid 2px;
    text-decoration: none;
    border-color: var(--blueBorderShadow);
    text-align: center;
    width: 100%;
    padding: 50px 0;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px 0 0 var(--blueBorderShadow), 0 1px 0 var(--blueBorderShadow), -1px 0 0 var(--blueBorderShadow), 0 -1px 0 var(--blueBorderShadow);
    overflow: hidden;
    transition: 0.25s;
  }
  button:link, button:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: absolute;
  }
  button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(71, 45, 184, 0.6);
  }
  button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(63, 61, 196, 0.6);
  }

  button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  button::after {
    background-color: #ffffff;
  }
  button::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
}


