@import url('https://fonts.googleapis.com/css2?family=Ledger&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  font-family: "Ledger", serif;
}
*:focus {
  outline: none;
}
:root {
  --whiteBlue: #EDF2FB;
  --blueGradient1: #CCDBFD;
  --blueGradient2: #E2EAFC;
  --blueBorderShadow: #ABC4FF;
  --darkBlueFocus: #606fc3;
  
}
/*body*/

.error {
  position: absolute;
  bottom: -20px;
  left: 0px;
  display: none;
  color: red;
}

a {
  text-decoration: none;
  color: black;
  transition: .25s;
}

a:hover {
  color: var(--darkBlueFocus);
}


